flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.6.0
python-dotenv==1.0.0
werkzeug==3.0.1
langchain==0.1.20
langchain-openai==0.1.6
langchain-community==0.0.38
faiss-cpu==1.8.0
pdfminer.six==20221105
httpx==0.26.0
pydantic>=2.7.4
tiktoken==0.6.0
bcrypt==4.1.2
Pillow==10.2.0
pytesseract==0.3.10
SpeechRecognition==3.10.1
pyttsx3==2.90
python-docx==1.1.0
